
body{
    background-color: rgb(226, 226, 231);
}

.IP1{
    color:  #eb6b6b;
    cursor: pointer;
    font-family: verdana;

}


.D{

    border-radius: 20px;
}

input{
    transform: scale(2.5);
    margin-right: 10px;
}